name: Create Release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build-linux:

    runs-on: ubuntu-latest

    steps:
      - name: Set up Go 1.15.8
        uses: actions/setup-go@v1
        with:
          go-version: 1.15.8

      - name: Check out source code
        uses: actions/checkout@v2

      - name: build cmd
        run: |
          pushd ./cmd/longtail
          go build -ldflags="-s -w" .
          popd

      - name: build dist
        run: |
          mkdir dist
          cp ./cmd/longtail/longtail dist/

      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: dist-linux-x64
          path: dist

  build-macos:

    runs-on: macos-latest

    steps:
      - name: Set up Go 1.15.8
        uses: actions/setup-go@v1
        with:
          go-version: 1.15.8

      - name: Check out source code
        uses: actions/checkout@v2

      - name: build cmd
        run: |
          pushd ./cmd/longtail
          go build -ldflags="-s -w" .
          popd

      - name: build dist
        run: |
          mkdir dist
          cp ./cmd/longtail/longtail dist/

      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: dist-macos-x64
          path: dist

  build-win32:

    runs-on: windows-latest

    steps:
      - name: Set up Go 1.15.8
        uses: actions/setup-go@v1
        with:
          go-version: 1.15.8

      - name: Check out source code
        uses: actions/checkout@v2

      - name: build cmd
        run: |
          pushd ./cmd/longtail
          go build -ldflags="-s -w" .
          popd

      - name: build dist
        run: |
          mkdir dist
          cp ./cmd/longtail/longtail.exe dist/

      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: dist-win32-x64
          path: dist

  create-release:

    runs-on: ubuntu-latest

    needs: [build-linux, build-macos, build-win32]

    steps:
    - name: Checkout code
      uses: actions/checkout@master
    - name: Create Release
      id: create_release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body: |
          Changes in this Release
          - **FIXED** Fixed compatability problem with cgo and golang 15
          - **FIXED** Fixed memory leak in onPreflighMessage
          - **FIXED** Fixed a couple of C string leaks
          - **CHANGED** Updated to golang 1.15.8 toolchain in Github actions scripts
          - **CHANGED** Removed support for legacy `store.lci` in stores
          - **UPDATE** Longtail 0.1.15
          - **UPDATE** Longtail 0.1.16
          - **CHANGED** Expose `Longtail_BlockIndex.Copy()` and `Longtail_StoreIndex.Copy()`
          - **ADDED** Added AWS S3 support - use `s3://` prefix for AWS S3 paths
          - **ADDED** Added `--mem-trace` that displays diagnostics about memory usage in longtaillib
          - **ADDED** Exposed `Longtail_MemTracer_DumpStats` which writes memory stats to `longtail.csv` if `--mem-trace` is enabled
        draft: false
        prerelease: false
    - name: Download Linux artifacts
      uses: actions/download-artifact@v1
      with:
        name: dist-linux-x64
        path: dist-linux-x64
    - name: Download MacOs artifacts
      uses: actions/download-artifact@v1
      with:
        name: dist-macos-x64
        path: dist-macos-x64
    - name: Download Win32 artifacts
      uses: actions/download-artifact@v1
      with:
        name: dist-win32-x64
        path: dist-win32-x64

    - name: rename artifacts
      run: |
        cp dist-linux-x64/longtail longtail-linux-x64
        cp dist-macos-x64/longtail longtail-macos-x64
        cp dist-win32-x64/longtail.exe longtail-win32-x64.exe
    - name: Zip Linux artifacts
      uses: montudor/action-zip@v0.1.0
      with:
        args: zip -qq -r ./linux-x64.zip ./dist-linux-x64
    - name: Zip MacOS artifacts
      uses: montudor/action-zip@v0.1.0
      with:
        args: zip -qq -r ./macos-x64.zip ./dist-macos-x64
    - name: Zip Win32 artifacts
      uses: montudor/action-zip@v0.1.0
      with:
        args: zip -qq -r ./win32-x64.zip ./dist-win32-x64
    - name: Upload to GitHub release
      uses: Roang-zero1/github-upload-release-artifacts-action@master
      with:
        args: |
          win32-x64.zip
          linux-x64.zip
          macos-x64.zip
          longtail-linux-x64
          longtail-macos-x64
          longtail-win32-x64.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
