name: Validate PR

on:
  pull_request:
    branches: [ main ]

jobs:
  linux:

    runs-on: ubuntu-latest

    steps:
      - name: Set up Go 1.14.7
        uses: actions/setup-go@v1
        with:
          go-version: 1.14.7

      - name: Check out source code
        uses: actions/checkout@v2

      - name: test
        run: |
          pushd ./longtaillib
          go test .
          popd

      - name: build cmd
        run: |
          pushd ./cmd/longtail
          go build .
          popd

  macos:

    runs-on: macos-latest

    steps:
      - name: Set up Go 1.14.7
        uses: actions/setup-go@v1
        with:
          go-version: 1.14.7

      - name: Check out source code
        uses: actions/checkout@v2

      - name: test
        run: |
          pushd ./longtaillib
          go test .
          popd

      - name: build cmd
        run: |
          pushd ./cmd/longtail
          go build .
          popd

  win32:

    runs-on: windows-latest

    steps:
      - name: Set up Go 1.14.7
        uses: actions/setup-go@v1
        with:
          go-version: 1.14.7

      - name: Check out source code
        uses: actions/checkout@v2

      - name: test
        run: |
          pushd ./longtaillib
          go test .
          popd

      - name: build cmd
        run: |
          pushd ./cmd/longtail
          go build .
          popd
